.frameworks-list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    list-style-type: none;
    gap: 5%;
    margin-left: 0;
    margin-bottom: 5%;
  }

  .rails {
    flex: none;
    flex-grow: 0;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-left: -17%;
    margin-top: 10%;
  }
  
  .rails-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    margin-left: 10px;
    width: 48px;
    height: 48px;
  }
  
  .rails-text {
    display: flex;
    align-items: center;
    height: 24px;
    margin-left: 70px;
    margin-top: -35px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }
  
  .react {
    flex: none;
    flex-grow: 0;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-left: -17%;
    margin-top: 5%;
  }
  
  .react-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    margin-left: 10px;
    width: 48px;
    height: 48px;
  }
  
  .react-text {
    display: flex;
    align-items: center;
    height: 24px;
    margin-left: 70px;
    margin-top: -35px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }
  
  